In [1]:
import pandas as pd
import datetime as dt

In [2]:
#Bring in cleaned sample from CSV
df_edit_sample=pd.read_csv("./df_sample_trim.csv")
df_edit_sample

,Unnamed: 0,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day

In [3]:
df_edit_sample = df_edit_sample.rename(columns={"Unnamed: 0": "Original_Index"})
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night
...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day

In [4]:
df_edit_sample['Grouped_Severity'] = df_edit_sample['Severity']
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,2
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,3
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,2
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,2
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,3
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,2
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,3
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,2
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,2
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,2

In [5]:
# Replacing Severity level 1 and 2 to 0
df_edit_sample['Grouped_Severity']=df_edit_sample['Grouped_Severity'].replace([1,2],0)
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,3
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,3
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,3
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0

In [6]:
# Replacing Severity level 3 and 4 to 1
df_edit_sample['Grouped_Severity']=df_edit_sample['Grouped_Severity'].replace([3,4],1)
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0

In [7]:
df_edit_sample['Start_Time'] = pd.to_datetime(df_edit_sample['Start_Time'])
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1
...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0

In [8]:
df_edit_sample.dtypes

Original_Index                int64
ID                           object
Severity                      int64
Start_Time           datetime64[ns]
End_Time                     object
State                        object
Country                      object
Visibility(mi)              float64
Weather_Condition            object
Sunrise_Sunset               object
Civil_Twilight               object
Grouped_Severity              int64
dtype: object

In [9]:
#Extract hour from time
df_edit_sample['Hour'] = df_edit_sample['Start_Time'].dt.hour
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16

In [10]:
df_edit_sample['Grouped_Hour'] = df_edit_sample['Hour']
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,10
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,8
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,13
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,8
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13,13
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8,8
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10,10
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14,14
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16,16

In [11]:
#Binning Grouped_Hour into 6 hour increments
df_edit_sample['Grouped_Hour']=df_edit_sample['Grouped_Hour'].replace([1,2,3,4,5,6],6)
df_edit_sample['Grouped_Hour']=df_edit_sample['Grouped_Hour'].replace([7,8,9,10,11,12],12)
df_edit_sample['Grouped_Hour']=df_edit_sample['Grouped_Hour'].replace([13,14,15,16,17,18],18)
df_edit_sample['Grouped_Hour']=df_edit_sample['Grouped_Hour'].replace([19,20,21,22,23,24,0],24)
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,12
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,12
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,18
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,12
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13,18
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8,12
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10,12
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14,18
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16,18

In [12]:
#Extract month from time
df_edit_sample['Month'] = df_edit_sample['Start_Time'].dt.month
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,12,7
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,12,12
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,18,1
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,12,9
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,24,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13,18,1
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8,12,6
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10,12,12
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14,18,10
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16,18,10

In [13]:
df_edit_sample['Grouped_Month'] = df_edit_sample['Month']
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month,Grouped_Month
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,12,7,7
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,12,12,12
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,18,1,1
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,12,9,9
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,24,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13,18,1,1
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8,12,6,6
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10,12,12,12
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14,18,10,10
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16,18,10,10

In [14]:
#Binning Grouped_Month into seasonal segments (3=spring, 6=summer, 9=fall, 12=winter)
df_edit_sample['Grouped_Month']=df_edit_sample['Grouped_Month'].replace([3,4,5],3)
df_edit_sample['Grouped_Month']=df_edit_sample['Grouped_Month'].replace([6,7,8],6)
df_edit_sample['Grouped_Month']=df_edit_sample['Grouped_Month'].replace([9,10,11],9)
df_edit_sample['Grouped_Month']=df_edit_sample['Grouped_Month'].replace([12,1,2],12)
df_edit_sample

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month,Grouped_Month
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,12,7,6
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,12,12,12
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,18,1,12
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,12,9,9
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,24,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,2019-01-04 13:20:04,2019-01-04 14:04:52,SC,US,2.5,Rain,Day,Day,0,13,18,1,12
499996,1113299,A-1113325,3,2019-06-12 08:03:30,2019-06-12 09:02:35,FL,US,10.0,Partly Cloudy,Day,Day,1,8,12,6,6
499997,1486192,A-1486224,2,2018-12-28 10:49:47,2018-12-28 11:34:33,AZ,US,10.0,Clear,Day,Day,0,10,12,12,12
499998,2293957,A-2293997,2,2017-10-06 14:56:55,2017-10-06 15:56:35,MA,US,10.0,Scattered Clouds,Day,Day,0,14,18,10,9
499999,81502,A-81504,2,2016-10-04 16:05:05,2016-10-04 16:35:05,CA,US,10.0,Clear,Day,Day,0,16,18,10,9

In [15]:
df_edit_sample.to_csv(r'C:\BootcampUCB\Final Project\df_edit_sample.csv', index = False)