In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
df = pd.read_csv('df_edit_sample.csv')
df.head()

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month,Grouped_Month
0,3490633,A-3490797,2,2019-07-05 10:41:00,2019-07-05 11:39:00,UT,US,10.0,Fair,Day,Day,0,10,12,7,6
1,1485927,A-1485959,3,2018-12-28 08:27:18,2018-12-28 08:56:49,FL,US,7.0,Light Rain,Day,Day,1,8,12,12,12
2,2950422,A-2950571,2,2020-01-07 13:58:19,2020-01-07 14:27:03,VA,US,10.0,Cloudy,Day,Day,0,13,18,1,12
3,153637,A-153639,2,2016-09-26 08:08:03,2016-09-26 08:37:07,GA,US,10.0,Partly Cloudy,Day,Day,0,8,12,9,9
4,107913,A-107915,3,2016-05-19 22:08:20,2016-05-19 22:38:20,CA,US,10.0,Overcast,Night,Night,1,22,24,5,3

In [4]:
df.columns

Index(['Original_Index', 'ID', 'Severity', 'Start_Time', 'End_Time', 'State',
       'Country', 'Visibility(mi)', 'Weather_Condition', 'Sunrise_Sunset',
       'Civil_Twilight', 'Grouped_Severity', 'Hour', 'Grouped_Hour', 'Month',
       'Grouped_Month'],
      dtype='object')

In [3]:
y = df['Severity']
X = df['Weather_Condition']

In [6]:
X = pd.get_dummies(X)

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

In [8]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [9]:
y_pred = dt.predict(X_test)

In [10]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)
accuracy

0.67925

In [11]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier()
rf.fit(X_train,y_train)

RandomForestClassifier()

In [12]:
y_pred_rf = rf.predict(X_test)

In [13]:
accuracy = accuracy_score(y_test,y_pred_rf)
accuracy

0.67925