In [1]:
import pandas as pd
import datetime as dt

In [2]:
#Bring in cleaned sample from CSV
df_edit_sample_2=pd.read_csv("./df_edit_sample.csv")
df_edit_sample_2

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Weather,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month,Grouped_Month
0,3490633,A-3490797,2,7/5/2019 10:41,7/5/2019 11:39,UT,US,10.0,Fair,Clear,Day,Day,0,10,12,7,6
1,1485927,A-1485959,3,12/28/2018 8:27,12/28/2018 8:56,FL,US,7.0,Light Rain,Rain,Day,Day,1,8,12,12,12
2,2950422,A-2950571,2,1/7/2020 13:58,1/7/2020 14:27,VA,US,10.0,Cloudy,Clear,Day,Day,0,13,18,1,12
3,153637,A-153639,2,9/26/2016 8:08,9/26/2016 8:37,GA,US,10.0,Partly Cloudy,Clear,Day,Day,0,8,12,9,9
4,107913,A-107915,3,5/19/2016 22:08,5/19/2016 22:38,CA,US,10.0,Overcast,Clear,Night,Night,1,22,24,5,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499995,1383866,A-1383897,2,1/4/2019 13:20,1/4/2019 14:04,SC,US,2.5,Rain,Rain,Day,Day,0,13,18,1,12
499996,1113299,A-1113325,3,6/12/2019 8:03,6/12/2019 9:02,FL,US,10.0,Partly Cloudy,Clear,Day,Day,1,8,12,6,6
499997,1486192,A-1486224,2,12/28/2018 10:49,12/28/2018 11:34,AZ,US,10.0,Clear,Clear,Day,Day,0,10,12,12,12
499998,2293957,A-2293997,2,10/6/2017 14:56,10/6/2017 15:56,MA,US,10.0,Scattered Clouds,Clear,Day,Day,0,14,18,10,9
499999,81502,A-81504,2,10/4/2016 16:05,10/4/2016 16:35,CA,US,10.0,Clear,Clear,Day,Day,0,16,18,10,9

In [4]:
#Select 100k sample rows
df_sample_100k = df_edit_sample_2.sample(n = 100000)
df_sample_100k

,Original_Index,ID,Severity,Start_Time,End_Time,State,Country,Visibility(mi),Weather_Condition,Weather,Sunrise_Sunset,Civil_Twilight,Grouped_Severity,Hour,Grouped_Hour,Month,Grouped_Month
316354,2484276,A-2484317,2,3/23/2016 17:30,3/23/2016 23:30,CA,US,10.0,Clear,Clear,Day,Day,0,17,18,3,3
423250,775151,A-775176,2,12/11/2019 19:36,12/11/2019 20:36,SC,US,10.0,Fair,Clear,Night,Night,0,19,24,12,12
375274,1749035,A-1749069,2,7/2/2018 19:16,7/2/2018 20:00,TN,US,10.0,Mostly Cloudy,Clear,Day,Day,0,19,24,7,6
63565,1499604,A-1499636,2,11/5/2018 8:32,11/5/2018 9:02,KS,US,4.0,Rain,Rain,Day,Day,0,8,12,11,9
339022,1233521,A-1233549,2,4/15/2019 7:28,4/15/2019 8:43,MI,US,10.0,Cloudy,Clear,Day,Day,0,7,12,4,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138888,534015,A-534023,2,5/13/2020 16:41,5/13/2020 17:40,NY,US,10.0,Fair,Clear,Day,Day,0,16,18,5,3
322368,559317,A-559325,2,6/29/2020 16:33,6/29/2020 17:49,SC,US,10.0,Partly Cloudy,Clear,Day,Day,0,16,18,6,6
105662,2358381,A-2358421,2,9/7/2017 13:46,9/7/2017 14:16,FL,US,10.0,Partly Cloudy,Clear,Day,Day,0,13,18,9,9
408389,2954437,A-2954586,2,1/10/2020 7:04,1/10/2020 8:07,UT,US,10.0,Mostly Cloudy,Clear,Night,Night,0,7,12,1,12
245898,1850446,A-1850484,2,6/26/2018 16:07,6/26/2018 17:07,WA,US,10.0,Clear,Clear,Day,Day,0,16,18,6,6

In [5]:
df_sample_100k.to_csv(r'C:\BootcampUCB\Final Project\df_small_sample.csv', index = False)